backend ci
    # Jenkins requires these headers to generate correct redirect and CSRF URLs
    http-request set-header X-Forwarded-Host %[req.hdr(Host)]
    http-request set-header X-Forwarded-Port %[dst_port]

    server s1 jenkins:8080 check resolvers container_dns resolve-prefer ipv4 inter 3s rise 3 fall 3
