###
# HAProxy main config
###

global
    log stdout format raw local0 info
    log stdout format raw local0 notice

    stats socket /run/haproxy/admin.sock mode 660 level admin

    tune.ssl.default-dh-param 2048
    tune.h2.initial-window-size 524288
    maxconn      4000

    # Disable OCSP stapling and other options
    ssl-default-bind-options no-tlsv10 no-tlsv11

    # Use IPv4 for OCSP checks
    httpclient.resolvers.prefer ipv4

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 10
    timeout connect         5s
    timeout server          60s
    timeout client          60s
    maxconn                 3000

resolvers container_dns
    parse-resolv-conf
    timeout retry   10s
    resolve_retries 10
    hold valid 5s

# provide a stats page on port 8080
frontend stats
    bind :8080
    stats uri /

frontend http-in
    bind :80
    redirect scheme https

frontend https-in
    bind :443 ssl crt /etc/ssl/certs/external

    http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains;"

    option forwardfor
    option http-ignore-probes
    option socket-stats

    compression algo deflate gzip
    compression type text/html text/plain text/css application/javascript application/json application/xml application/rss+xml application/atom+xml font/ttf font/otf font/eot font/woff font/woff2 image/svg+xml image/x-icon

    http-request  cache-use   default_cache
    http-request  capture     req.hdr(Host) len 64
    http-response cache-store default_cache

    capture request header X-Transmission-Session-Id len 48
    capture response header X-Transmission-Session-Id len 48

    acl is_ci             hdr_beg(host) -i ci
    acl is_git            hdr_beg(host) -i git
    acl is_grafana        hdr_beg(host) -i graphs
    acl is_hoarder        hdr_beg(host) -i hoarder
    acl is_home           hdr_beg(host) -i home
    acl is_jellyfin       hdr_beg(host) -i jellyfin
    acl is_ollama         hdr_beg(host) -i ollama
    acl is_tavern         hdr_beg(host) -i tavern

    use_backend ci             if is_ci
    use_backend git            if is_git
    use_backend grafana        if is_grafana
    use_backend hoarder        if is_hoarder
    use_backend home           if is_home
    use_backend jellyfin       if is_jellyfin
    use_backend ollama         if is_ollama
    use_backend tavern         if is_tavern

    default_backend deny_403

cache default_cache
    total-max-size  4088  # MB
    max-object-size 10000 # bytes
    max-age         30    # seconds

###
# Backends
###

backend deny_403
    mode http
    http-request deny deny_status 400
